.titile{
	font-size:30px;
}
h1{

	text-align: center;
	font-size:60px;
}
#p1{
	width:33%;
	float:left;

}
#p2{
	width:33%;
	float:left;
	

}
#p3{
	width:33%;
	float:left;
	
}
html{
		background-color:black;
	color:red;
		text-align: center;
}